/*RESET*/
*{
    color:black;
    font-family:sans-serif;
}

/*TAGS*/
a,b,h1,h2{
    color:red;
}
a:hover{
    color:black;
}
body{
    background-color:red;
}
hr{
    border:0;
    border-bottom:1px solid black;
}
img{
    border:1px solid black;
}

/*Classes*/
.center{
    text-align: center;
}

/*IDs*/
#container{
    background-color:white;
    margin:0 auto;
    max-width:800px;
    padding:1em;
}
