/*RESET*/
*{
    color:#202020;
    font-family:sans-serif;
}

/*TAGS*/
a{
    color:green;
}
a:hover{
    color:red;
}
body{
    background-color:green;
}
hr{
    border:0;
    border-bottom:1px solid green;
}
img{
    border:1px solid green;
}

/*Classes*/
.center{
    text-align: center;
}

/*IDs*/
#container{
    background-color:white;
    margin:0 auto;
    max-width:800px;
    padding:1em;
}
